
@{
    ViewData["Title"] = "AboutUs";
}

@section Scripts {
    <script src="/js/about.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="/css/about.css" />
}
 <section id="hero">
      <div id="hero-txt" class="ani" >
        <h2 >ABOUT US</h2>
        <p class="ps-2 ani">
          Welcome to Sayali Hospital At Sayali Hospital, we are committed to
          providing compassionate, high-quality healthcare to our community.
          Located in the heart of [City Name], our hospital is dedicated to
          meeting the needs of our patients with a blend of advanced medical
          technology, skilled professionals, and a warm, caring environment.
        </p>
      </div>
      <div id="hero-wrap">
        <img id="hero-img" src="~/images/about-us/doctor-hospital-room-standing-near-bed-wearing-face-mask-scrubs.jpg" srcset=""/>
      </div>
    </section>

    <!-- our vison -->
    <section class="vcard">
      <div class="card card-for-a mb-3" style="width: 100%; height: 100%">
        <div class="row g-0">
          <div class="col-md-4 mt-0" >
            <img
              src="~/images/about-us/genetic-scientist-studying-epidemics-holding-sample-blood.jpg"
              class="img-fluid"
              id="image1"
              alt="..."
              height="100%"
              style="border-radius: 0;"
            />
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <div class="">
                <h2 class="card-title bold" style="color: #df4827">
                  OUR MISSION
                </h2>

                <div class="content reveal">
                  <div class="con-div">
                    <p class="txt-con reveal">
                      Our mission is to deliver exceptional healthcare services

                      that enhance the well-being and quality of life of our

                      patients. We strive to be a leader in patient care, driven

                      by our core values of integrity, compassion, and
                      excellence.

                    </p>
                    <br />
                    <br />
                  </div>

                  <div class="icon-div">
                    <i
                      class="fa-solid beat fa-suitcase-medical icon"
                      style="color: #df4827"
                    ></i>
                  </div>
                </div>

                <br />
              </div>
              <hr />
              <div class="con-div">
                <h2 class="card-title bold" style="color: #4ed467">
                  OUR VISON
                </h2>

                <div class="content reveal">
                  <div class="con-div">
                    <p class="txt-con reveal" >
                      We envision a healthier community where every individual
                      has 
                      access to comprehensive healthcare. Through 
                      innovation and a patient-centered approach, we aim to be
                      the 
                      preferred healthcare provider in the region, recognized
                      for 
                      our dedication to improving lives. 
                    </p>
                  </div>

                  <div class="icon-div">
                    <i class="fa-solid fa-eye icon" style="color: #4ed467"></i>
                  </div>
                </div>
                <br />
                <br />
              </div>

            </div>
          </div>
        </div>
      </div>
      <section id="team" class="reveal">
        <div class="container my-4">
          <div class="thead">

            <h2 class="card-title bold mb-2 " style="color: #df4827;">
              OUR TEAM
              <i
              class="fa-solid fa-people-group fs-3 ms-2"
              style="color: #19c6dd"
              ></i>
            </h2>
          </div>
          <div class="row reveal">
            <div class="col-md-4">
              <div class="card tcard"style="max-width: 80%">
                <img
                  src="~/images/about-us/usman-yousaf-2H81ZTVo-C4-unsplash.jpg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card tcard" style="max-width: 80%">
                <img
                    src="~/images/about-us/usman-yousaf-2H81ZTVo-C4-unsplash.jpg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card tcard" style="max-width: 80%">
                <img
                    src="~/images/about-us/usman-yousaf-2H81ZTVo-C4-unsplash.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4  reveal">
            <div class="col-md-4">
              <div class="card tcard" style="max-width: 80%">
                <img
                   src="~/images/about-us/usman-yousaf-2H81ZTVo-C4-unsplash.jpg"
                  class="img-fluid card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">Dr ABCDEFGH.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card  tcard" style="max-width: 80%">
                <img
                   src="~/images/about-us/usman-yousaf-2H81ZTVo-C4-unsplash.jpg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tcard" style="max-width: 80%">
                <img
                src="~/images/about-us/usman-yousaf-2H81ZTVo-C4-unsplash.jpg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <br />
    <br />
    <section id="our-service" class="vcard reveal">
      <h2 class="card-title" style="text-align: center; margin-top: 1rem">
        <i class="fa-solid fa-handshake-angle me-2" style="color: #4751b0"></i
        >OUR SERVICES
      </h2>

      <ul class="reveal">
        <li>
          <i
            class="fa-solid fa-truck-medical fa-2xl amb"
            style="color: #e63030"
          ></i>
          <p>
            Emergency Care: 24/7 emergency services with a dedicated team of
            professionals ready to respond to critical situations.
          </p>
        </li>
        <hr />

        <li class="reveal">
          <i class="fa-solid fa-tablets fa-2xl med" style="color: #50d373"></i>
          <p>
            General Medicine: Comprehensive care for a variety of health
            conditions, focusing on prevention, diagnosis, and treatment.
          </p>
        </li>
        <hr />

        <li class="reveal">
          <i class="fa-solid fa-bed-pulse bed" style="color: #6d4dce"></i>
          <p>
            Surgery: Advanced surgical procedures performed by experienced
            surgeons, using state-of-the-art equipment.
          </p>
        </li>
        <hr />

        <li class="reveal">
          <i
            class="fa-solid fa-person-breastfeeding fa-2xl child"
            style="color: #ed1e9a"
          ></i>
          <p class="ms-2">
            Maternity and Childcare: Personalized care for mothers and children,
            from prenatal care to pediatric services.
          </p>
        </li>
        <hr />

        <li class="reveal">
          <i
            class="fa-solid fa-hospital fa-2xl special"
            style="color: #835fef"
          ></i>
          <p>
            Specialized Departments: Expert care in cardiology, orthopedics,
            neurology, and more, offering tailored treatments for complex
            conditions.
          </p>
        </li>
        <hr />

        <li class="reveal">
          <i
            class="fa-solid fa-stethoscope fa-2xl diagnosis"
            style="color: #ff683e"
          ></i>
          <p>
            Diagnostics and Imaging: Cutting-edge diagnostic tools and imaging
            services for accurate and timely diagnoses.
          </p>
        </li>
        <hr />
      </ul>
    </section>

    

    